trigger: 
  branches:
    include:
      - main
      - feature/*

pool: Default

stages: 

  - stage: infraprovision
    
    condition: succeeded()
    jobs:
      - job: terraforminitvalidateplan
        displayName: terraform install init validate plan job
        steps:
        - task: TerraformInstaller@1
          displayName: terraform install
          inputs:
            terraformVersion: 'latest'

    
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environmrnt/Dev'
            backendServiceArm: 'Infra Service'
            backendAzureRmStorageAccountName: 'nehasg'
            backendAzureRmContainerName: 'nehacontainer'
            backendAzureRmKey: 'neha.tfstate'

        - task: TerraformTask@5
          displayName: terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environmrnt/Dev'

        - task: TerraformTask@5
          displayName: plan job
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environmrnt/Dev'
            environmentServiceNameAzureRM: 'Infra Service'

  - stage: validation
    displayName: validation
    jobs:
      - job: manualvalidation
        displayName: manual validation job
        pool: server
        steps:
        - task: ManualValidation@1
          displayName: vaildation
          inputs:
            notifyUsers: 'guneha0810@gmail.com'
            approvers: 'Neha'
  - stage: Infraapply
    displayName: apply stage
    dependsOn: validation
    condition: succeeded()
    jobs:
      - job: apply
        displayName: apply job
        steps:
        - task: TerraformTask@5
          displayName: init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/Environmrnt/Dev'
            backendServiceArm: 'Infra Service'
            backendAzureRmStorageAccountName: 'nehasg'
            backendAzureRmContainerName: 'nehacontainer'
            backendAzureRmKey: 'backend.tfstate'
 
        # - task: TerraformTask@5
        #   displayName: apply job
        #   inputs:
        #     provider: 'azurerm'
        #     command: 'apply'
        #     workingDirectory: '$(System.DefaultWorkingDirectory)/Environmrnt/Dev'
        #     environmentServiceNameAzureRM: 'Infra Service'
